body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
p{
    color:dimgray;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
    color: white;
    border-radius: 5px;
    font-weight: 800;
    padding: 10px 30px;
}
.second-banner{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.single{
    box-shadow: 10px 10px 40px gray;
     border-radius: 5px;
     height: 300px;
     background-color: white;

}
.Mostakim{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#kaka{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#mita{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}